// src/styles/components/widgets/spotify/SpotifyWidget.module.scss
@use "../../../abstracts" as *;

//Widget Frame
.widget {
  display: grid;
  gap: 1rem;
  padding: 1rem;
  background-color: var(--color-container);
  border-radius: 4rem;
  corner-shape: squircle;
  width: 25%;
  height: 20vh;
  @include up("md") {
    padding: 1.5rem;
  }
}