// src/styles/components/widgets/calendar/CalendarWidget.module.scss
@use "../../../abstracts" as *;

//Widget Frame
.widget {
  display: grid;
  gap: 1rem;
  padding: 1rem;
  background-color: var(--color-container);
  border-radius: 6rem;
  corner-shape: squircle;
  width: 22%;
  height: 40vh;
  @include up("md") {
    padding: 1.5rem;
  }
}
